@import 'tailwindcss';

@theme {
    --animate-fade-up: fade-up 1s ease-in-out backwards;
    --animate-fade-right: fade-right .4s ease-in-out backwards;
    --animate-rotate-in-place : rotate-in-place 7s infinite linear;

    @keyframes fade-up {
        0% {
            opacity: 0;
            margin-bottom: -300px;
        }

        100% {
            opacity: 1;
            margin-top: 0;
        }
    }

    @keyframes fade-right {
        0% {
            opacity: 0;
            margin-left: -10px;
        }

        100% {
            opacity: 1;
            margin-left: 0;
        }
    }
    
    @keyframes rotate-in-place{
        0%{
            transform:rotateY(0deg);
        }
        100%{
            transform:rotateY(360deg);
        }

    }
}